* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

:root {
	--color-one: #d09e66;
	--color-two: #bd713a;
	--color-three: #5a4f47;
	--color-four: #dfd9d8;
}

@media (max-width: 390px) {
	body {
		background-color: var(--color-four);
	}
	header {
		height: 100vh;
		width: 100%;
		display: grid;
		grid-template-rows: auto 1fr auto;
		grid-template-columns: 1fr;
	}
	.logo {
		align-self: flex-start;
		mix-blend-mode: color-burn;
	}

	.headerInfo {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-start;
		grid-row: 2 / 3;
		grid-column: 1 / 2;
	}
	.headerInfo::before {
		content: '';
		z-index: -1;
		height: 250px;
		width: 250px;
		background-color: var(--color-two);
		border-radius: 50px;
		position: absolute;
		right: 10;
		bottom: 300px;
	}
	h1 {
		align-self: flex-start;
		margin: 0 10px;
		padding-bottom: 20px;
		font-family: 800;
		font-size: 3rem;
		color: var(--color-three);
	}
	.paragraf {
		color: var(--color-three);
		font-weight: 500;
		font-size: 1.5rem;
		margin: 0 10px;
	}

	.btnInfo {
		justify-self: flex-start;
		background-color: var(--color-three);
		border: 2px solid var(--color-three);
		border-radius: 10000px;
		font-family: 'Poppins', sans-serif;
		height: 45px;
		padding: 10px 10px;
		margin-top: 20px;
		margin-bottom: 40px;
		font-size: 1rem;
		font-weight: 500;
		margin-left: 10px;
	}
	.btnA {
		text-decoration: none;
		color: var(--color-four);
	}

	nav ul {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		padding-top: 100px;
		position: absolute;
		height: 600px;
		width: 150px;
		right: -150px;
		font-weight: 500;
		font-size: 1.5rem;
		list-style: none;
		background-color: var(--color-four);
		transition: transform 0.3s;
		z-index: 1;
	}
	.link:hover {
		border: 2px solid var(--color-three);
	}
	ul li {
		padding-bottom: 10px;
	}

	nav a {
		display: block;
		padding: 10px 30px;
		color: var(--color-three);
		text-decoration: none;
	}

	nav a:hover {
		font-weight: bold;
	}

	.burger {
		position: absolute;
		top: 0;
		right: 0;
		padding: 20px 20px;
		font-size: 36px;
		background: none;
		border: none;
		cursor: pointer;
		color: var(--color-three);
		transition: transform 0.3s;
	}

	.active {
		transform: translateX(-150px);
	}

	.hide {
		display: none !important;
	}
	.slider {
		height: 22.5625rem;
		width: 100%;

		position: relative;
		left: 0%;
		top: -1.5%;
		border-radius: 0 0 20px 0;
		overflow: hidden;
		margin-right: 0%;
		padding-top: 15px;
	}
	.slider-box {
		display: flex;
		transform: translateX(0);
		transition: transform 0.6s;
		/* max-width: fit-content; */
	}
	.slider-img {
		width: 100%;
		height: auto;
		background-size: auto;
	}
	.btn {
		position: absolute;
		top: 40%;
		transform: translateY(-40%);

		padding: 0.1em 0.5em;
		color: var(--color-one);
		background-color: var(--color-four);
		font-size: 1.2em;
		border: none;
		cursor: pointer;
		border-radius: 1000px;
	}
	.btn-left {
		left: 0;
	}
	.btn-right {
		right: 0;
	}
	.btn span {
		display: block;
		transition: transform 0.3s;
	}
	.btn:hover span {
		transform: scale(0.7);
	}
	.main {
		color: var(--color-three);
		font-weight: 500;
	}
	.main > div {
		margin-top: 50px;
		margin-bottom: 50px;
	}
	.oferta,
	.contact,
	.conteiner {
		background-color: #f2f2f2;
	}
	.conteiner,
	.contact {
		padding: 20px;
	}
	.oferta {
		padding-top: 20px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.conteiner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.pAboutUs {
		margin: 0 10px;
	}
	h2 {
		font-size: 2rem;
	}
	.aboutOfer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0 10px;
		margin-top: 15px;
	}
	.ofer {
		font-size: 2rem;
	}
	.oferParagraf {
		margin: 10px 20px;
		font-size: 1.2rem;
		line-height: 1.5;
	}
	.contact {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	label {
		display: block;
	}

	input[type='text'],
	textarea,
	.emailInput {
		display: block;
		width: 20rem;
		padding: 5px;
		border: 1px solid var(--color-four);
		background-color: var(--color-one);
		border-radius: 8px;
		box-sizing: border-box;
		color: var(--color-three);
		font-weight: 500;
		font-family: 'Poppins', sans-serif;
	}
	input[type='text'],
	textarea,
	.emailInput:focus {
		outline: none;
	}
	.sendBtn {
		margin-top: 15px;
		margin-bottom: 20px;
		padding: 0.7rem 1rem;
		background-color: var(--color-three);
		font-family: 'Poppins', sans-serif;
		font-size: 1rem;
		font-weight: 500;
		border: 2px solid var(--color-three);
		border-radius: 10000px;
		color: var(--color-four);
	}
	.sendBtn:hover {
		background-color: var(--color-four);
		color: var(--color-three);
	}
	h4 {
		font-size: 2rem;
	}
	.contactP {
		margin-left: 10px;
		margin-bottom: 15px;
	}
	.footer {
		background-color: var(--color-three);
		display: flex;
		justify-content: space-around;
	}
	.footerNav ul li a {
		list-style: none;
		text-decoration: none;
		color: var(--color-four);
		list-style-type: none;
	}
	.footerNav ul {
		list-style-type: none;
		margin: 10px;
	}
	.references {
		gap: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.fa-brands {
		font-size: 2.5rem;
		color: var(--color-four);
	}
	.fa-brands:hover {
		transform: scale(1.2, 1.2);
	}
}
@media (min-width: 390px) {
	body {
		background-color: var(--color-four);
	}
	header {
		height: 100vh;
		width: 100%;
	}
	nav {
		display: flex;
		flex-direction: column;

		justify-content: center;
		align-items: center;
	}
	nav ul {
		display: flex;
		width: 100%;
		height: 60px;
		justify-content: center;
		align-items: center;
		list-style: none;
		background-color: var(--color-four);

		font-weight: 800;
	}
	nav button {
		display: none;
	}
	.link {
		padding: 15px;
		text-decoration: none;
		color: var(--color-three);
	}
	.logo {
		mix-blend-mode: color-burn;
	}
	nav.sticky {
		position: fixed;
		top: 0;
		left: 0;
		padding: 10px 8%;
		background-color: var(--color-four);
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		transition: padding 1s;
	}
	.logo.sticky {
		padding-left: 5px;
	}
	nav.sticky ul {
		width: auto;
	}
	.headerInfo {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		background-image: url('../images/header1.jpg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		color: var(--color-four);
		padding-bottom: 30px;
		padding-top: 60px;
	}
	.paragraf {
		padding: 0 40px;
		color: var(--color-four);
	}
	.btnInfo {
		background-color: var(--color-three);
		border: 2px solid var(--color-three);
		border-radius: 10000px;
		font-family: 'Poppins', sans-serif;
		height: 45px;
		padding: 10px 10px;
		margin-top: 50px;
		margin-bottom: 40px;
		font-size: 1rem;
		font-weight: 500;
		margin-left: 10px;
	}
	.btnA {
		text-decoration: none;
		color: var(--color-four);
	}
}
